@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.plan-table {
    width: 90%;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $table-background-color;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.8);
    @include set-font(1.2rem, 1.2rem, 600);

    td {
        border-right: 1px solid $primary-grey;
        border-left: 1px solid $primary-grey;
    }

    tr {
        border: 1px solid $primary-grey;
    }

    th {
        padding: 1rem;
        border: 3px solid $primary-grey;
        color: $table-heading-color;
    }

     &__data {
        height: 3rem;
        margin: 1rem;
        font-weight: 400;
        display: flex;
        align-items: center;     
    }  
    
    &__heading-column {
        font-weight: 600;
        color:$table-heading-color;
    }

    &__link {
        text-decoration: none;
        color: $primary-black;

        &:hover {
            color: $primary-site-color;
        }
    }
}