@use './variables' as *;

/*------------------------------------------------------- 
   Added Mixins and media Queries for Tablet and 
    Desktop breakpoints 
  -------------------------------------------------------*/
@mixin tablet {
    @media screen and (min-width:$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$desktop-breakpoint) {
        @content;
    }
}

/*-----------------------------------------------------------
   Added common Mixins for Setting Fonts 
-----------------------------------------------------------*/
@mixin set-font ($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight ;
    font-weight: $fontWeight;
}

/*-----------------------------------------------------------
   Added common Mixins for styling textbox
-----------------------------------------------------------*/
@mixin set-form-textbox-style() {
    border: 1.5px solid $primary-grey;
    border-radius: 1.25rem;
    color: $primary-black;
    padding: 1rem;
    height: 2.375rem;
    width: 15rem;

    &::placeholder {
        color: $primary-grey;
        font-size: 1rem;
    }

    &:focus {
        outline-color: $primary-site-color;
    }
}

/*-----------------------------------------------------------
   Added common Mixins for Setting styling Button for site
-----------------------------------------------------------*/
@mixin set-button-style() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 10rem;
    border-radius: 1.5rem;
    background-color: $primary-site-color;
    border-style: none;
    color: $primary-white;
    margin-bottom: 2rem;   
    @include set-font(1rem, 1.38rem, 600); 
}

/*-----------------------------------------------------------
   Added common Mixins for Setting styling Button for site
-----------------------------------------------------------*/
@mixin set-navlink-style {
    color: $primary-black;    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 2.5rem;
    width: 10rem; 
    @include set-font(1.1rem, 1.4rem, 600); 

    &:hover {
        text-decoration: underline;
        color: $primary-site-color;
    }

    &.active {
        color: $primary-white;      
        background-color: $primary-site-color;
        border-radius: 1.25rem;   
    }
}