/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-white: #FFFF;
$primary-black: black;
$primary-light-grey: lightgrey;
$primary-grey:rgb(115, 115, 115);
$primary_site-color:rgb(255 166 96);
$footer_color:#FFCC99;

$instagram-url : "https://www.instagram.com/";
$facebook-url : "https://www.facebook.com/";
$twitter-url :"https://twitter.com/";