@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

.header {
    background-color: $primary-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(155, 155, 155, 1);
    height:7rem;

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    &__logo-image {
        width: 18rem;
        height:4rem;
    }

    &__title {
        @include set-font(1.5rem, 4.25rem, 600);
        text-shadow: 1px 1px 2px $primary_site-color;
    }
}

.header-profile {
    display: flex;
    margin: 2.5rem 2rem 2rem 0;  
    gap:2rem; 

    &__link {
        @include set-navlink-style;
    }

    &__image {
        width: 3.5rem;
        height: 3.5rem;      
        align-self: center;
        margin: 2rem;
        border-radius: 50rem;
        margin-right: 1rem;
    }

    &__user-name{
        color:$primary_site-color;
        font-weight: 700;
    }
}

.header-signin {
    display: flex;
    margin-top: 2.5rem; 

    &__link {
        @include set-navlink-style;
    }
}