@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/variables" as *;

.homepage {
    position: relative;
    display: inline-block;
    width: 100%;

    &__image {
        width: 100%;
    }

    &__overlay-text {
        position: absolute;
        top: 6rem;
        left: 43%;
        color: $primary_site-color;
        background-color: rgba(0, 0, 0, 0.3); 
        padding: 1.5rem 2.5rem;
        border-radius: 10px;
        @include set-font(2.2rem, 2rem, 700);
        font-family: cursive;
    }
}